<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xz.fzu.dao.ICompanyDao">
    <resultMap id="CompanyResultMap" type="xz.fzu.model.Company">
        <result property="companyId" column="company_id"/>
        <result property="telephone" column="telephone"/>
        <result property="passwd" column="passwd"/>
        <result property="companyName" column="company_name"/>
        <result property="headUrl" column="head_url"/>
        <result property="email" column="email"/>
        <result property="description" column="description"/>
        <result property="status" column="status"/>
    </resultMap>
    <select id="selectIdByEmail" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT company_id from company where email = #{email}
    </select>
    <select id="selectIdByToken" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT company_id from company where token = #{token}
    </select>
    <select id="selectCompanyById" parameterType="java.lang.String" resultType="xz.fzu.model.Company"
            resultMap="CompanyResultMap">
        SELECT * from company WHERE company_id=${companyId}
    </select>
    <select id="selectCompanyByEmail" parameterType="java.lang.String" resultType="xz.fzu.model.Company"
            resultMap="CompanyResultMap">
        SELECT * from company WHERE email=${email}
    </select>
    <update id="updateInfo" parameterType="xz.fzu.model.Company">
        UPDATE company
        <set>
            <if test=" telephone != null and telephone != '' ">
                telephone =# {telephone},
            </if>
            <if test=" passwd != null and passwd != '' ">
                passwd = #{passwd},
            </if>
            <if test=" companyName != null and companyName != '' ">
                company_name = #{companyName},
            </if>
            <if test=" headUrl !=null and headUrl != '' ">
                head_url = #{head_url},
            </if>
            <if test=" email! =null and email != '' ">
                email = #{email},
            </if>
            <if test=" description != null and description != ''">
                description = ${description},
            </if>
            <if test=" status != 0">
                status = #{status},
            </if>
            <if test=" token != null and token !='' ">
                token = #{token},
            </if>
        </set>
        WHERE company_id = ${companyId}
    </update>

    <insert id="insertInstance" parameterType="xz.fzu.model.Company">
        INSERT INTO company( company_id, telephone, passwd, company_name, head_url, email, description, status)
        VALUES( #{companyId}, #{telephone}, #{passwd}, #{companyName}, #{headUrl}, #{email}, #{description}, #{status})
    </insert>

    <delete id="deleteCompany" parameterType="java.lang.String">
      DELETE FROM company where company_id = #{companyId}
    </delete>
    <select id="verifyToken" parameterType="java.lang.String" resultType="int">
      SELECT count(*) FROM company where token = #{token}
    </select>

    <update id="updatePasswd">
      UPDATE company SET passwd=#{arg2} where token = #{arg0} and passwd = #{arg1}
    </update>
</mapper>