<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xz.fzu.dao.IProfileDao">
    <resultMap id="recruitmentProfileMap" type="xz.fzu.model.RecruitmentProfile">
        <result property="recruitmentId" column="recruitment_id"/>
        <result property="industryLabel" column="industry_label"/>
        <result property="location" column="location"/>
        <result property="workTime" column="work_time"/>
        <result property="jobType" column="job_type"/>
        <result property="salary" column="salary"/>
        <result property="degree" column="degree"/>
        <result property="stationLabel" column="station_label"/>
    </resultMap>

    <resultMap id="userProfileMap" type="xz.fzu.model.UserProfile">
        <result property="userId" column="user_id"/>
        <result property="industryLabel" column="industry_label"/>
        <result property="expectedCity" column="expected_city"/>
        <result property="workTime" column="work_time"/>
        <result property="jobType" column="job_type"/>
        <result property="expectSalary" column="expect_salary"/>
        <result property="highestEducation" column="highest_education"/>
        <result property="stationLabel" column="station_label"/>
    </resultMap>
    <select id="getUserProfile" resultType="xz.fzu.model.UserProfile" resultMap="userProfileMap">
        SELECT *  FROM user_profile WHERE user_id = #{userId}
    </select>

    <select id="getRecruitmentProfile" resultType="xz.fzu.model.RecruitmentProfile" resultMap="recruitmentProfileMap">
        SELECT * FROM recruitment_profile
    </select>

</mapper>