<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xz.fzu.dao.IRecruitmentDao">
    <resultMap id="resultMapper" type="xz.fzu.model.Recruitment">
        <result property="recruitmentId" column="recruitment_id"/>
        <result property="publishTime" column="publish_time"/>
        <result property="validate" column="validate"/>
        <result property="companyId" column="company_id"/>
        <result property="jobName" column="job_name"/>
        <result property="description" column="description"/>
        <result property="contact" column="contact"/>
        <result property="location" column="location"/>
        <result property="deliveryRequest" column="delivery_request"/>
        <result property="salary" column="salary"/>
        <result property="degree" column="degree"/>
        <result property="workTime" column="work_time"/>
        <result property="industryLabel" column="industry_label"/>
        <result property="stationLabel" column="station_label"/>
        <result property="jobType" column="job_type"/>
    </resultMap>
    <insert id="insertInstance">
        INSERT INTO recruitment(publish_time,validate,company_id,job_name,description,contact,location,delivery_request,degree,work_time,industry_label,station_label,salary,job_type)
        VALUES (#{publishTime},#{validate},#{companyId},#{jobName},#{description},#{contact},#{location},#{deliveryRequest},#{degree},#{workTime},#{industryLabel},#{stationLabel},#{salary},#{jobType})
    </insert>
    <select id="selectInstaceById" resultType="xz.fzu.model.Recruitment" resultMap="resultMapper" parameterType="long">
        SELECT * FROM recruitment WHERE recruitment_id = #{recruitmentId}
    </select>
    <select id="selectListInstaceByCompanyId" resultType="xz.fzu.model.Recruitment" parameterType="java.lang.String">
        SELECT * FROM recruitment WHERE company_id = #{companyId}
    </select>
    <delete id="deleteInstace" parameterType="long">
         DELETE FROM recruitment WHERE recruitment_id = #{recruitmentId}
    </delete>
    <update id="updateInstace" parameterType="xz.fzu.model.Recruitment">
        UPDATE recruitment
        <set>
            <if test=" publishTime !=null and publishTime != '' ">
                publishTime = #{publishTime},
            </if>
            <if test=" validate !=null and validate != '' ">
                validate = #{validate},
            </if>
            <if test=" companyId !=null and companyId != '' ">
                company_id = #{companyId},
            </if>
            <if test=" jobName !=null and jobName != '' ">
                job_name = #{jobName},
            </if>
            <if test=" description !=null and description != '' ">
                description = #{description},
            </if>
            <if test=" contact !=null and contact != '' ">
                contact = #{contact},
            </if>
            <if test=" location !=null and location != '' ">
                location = #{location},
            </if>
            <if test=" deliveryRequest !=null and deliveryRequest != '' ">
                delivery_request = #{deliveryRequest},
            </if>
            <if test=" degree !=null and degree != '' ">
                degree = #{degree},
            </if>
            <if test=" workTime != 0 ">
                work_time = #{workTime},
            </if>
            <if test=" industryLabel != 0 ">
                industry_label = #{industryLabel},
            </if>
            <if test=" stationLabel !=null and stationLabel != '' ">
                station_label = #{stationLabel},
            </if>
            <if test=" salary !=null and salary != '' ">
                salary = #{salary},
            </if>
            <if test=" jobType  != 0 ">
                job_type = #{jobType},
            </if>
        </set>
        WHERE recruitment_id=#{recruitmentId}
    </update>
    <select id="selectInstanceByKeyWord" resultType="xz.fzu.model.Recruitment" resultMap="resultMapper">
        SELECT * FROM recruitment WHERE job_name LIKE #{arg0} OR description LIKE #{arg0} OR description LIKE #{arg0} LIMIT #{arg1},#{arg2}
    </select>
</mapper>