<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xz.fzu.dao.IUserDao">

    <!--返回值的map-->
    <resultMap id="selectMap" type="User">
        <result property="userId" column="user_id"/>
        <result property="telephone" column="telephone"/>
        <result property="passwd" column="passwd"/>
        <result property="userName" column="user_name"/>
        <result property="headUrl" column="head_url"/>
        <result property="email" column="email"/>
        <result property="sex" column="sex"/>
        <result property="school" column="school"/>
        <result property="specialty" column="specialty"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="workTime" column="work_time"/>
        <result property="jobType" column="job_type"/>
        <result property="presentCity" column="present_city"/>
        <result property="expectedCity" column="expected_city"/>
        <result property="industryLabel" column="industry_label"/>
        <result property="stationLabel" column="station_label"/>
        <result property="expectSalary" column="expect_salary"/>
        <result property="token" column="token"/>
        <result property="age" column="age"/>
    </resultMap>

    <!--插入一个用户-->
    <insert id="insertUser" parameterType="xz.fzu.model.User">
        INSERT INTO user(user_id,passwd, telephone, user_name, head_url,email, sex,school, specialty,start_time, end_time,work_time,job_type, present_city, expected_city,token,industry_label,station_label,expect_salary,age,highest_education)
          VALUES ( #{userId},#{passwd},#{telephone},#{userName},#{headUrl},#{email},#{sex},#{school},#{specialty},#{startTime},#{endTime},#{workTime},#{jobType},#{presentCity},#{expectedCity},#{token},#{industryLabel},#{stationLabel},#{expectSalary},#{age},#{highestEducation})
    </insert>

    <!--根据邮箱查找用户-->
    <select id="selectByEmail" parameterType="java.lang.String" resultType="User" resultMap="selectMap">
        SELECT * FROM user WHERE email = #{email}
    </select>

    <!--根据id查找用户 调用此方法前应先调用token得到userid的方法-->
    <select id="selectByUserId" parameterType="java.lang.String" resultType="User" resultMap="selectMap">
        SELECT *  FROM user WHERE user_id = #{userId}
    </select>

    <!-- 验证用户名和密码 -->
    <select id="vertifyUser" parameterType="xz.fzu.model.User" resultType="int">
        SELECT COUNT(*) FROM user WHERE email = #{email} AND passwd = #{passwd}
    </select>

    <!-- 通过token查找用户 -->
    <select id="selectUserIdByToken" parameterType="java.lang.String" resultType="String">
        SELECT user_id FROM user WHERE token = #{token}
    </select>

    <!-- 更新token -->
    <update id="updateToken">
        UPDATE user SET token = #{arg0} WHERE user_id = #{arg1}
    </update>

    <!-- 更新密码 -->
    <!--parameterType="hashmap 多参数，暂时使用序号"-->
    <update id="updatePasswd">
        UPDATE user SET passwd = #{arg1} WHERE user_id = #{arg0}
    </update>

    <!-- 更新用户信息 -->
    <update id="updateInfo" parameterType="xz.fzu.model.User">
        UPDATE user
        <set>
            <if test=" telephone != null and telephone != '' ">
                telephone = #{telephone},
            </if>
            <if test=" passwd != null and passwd != '' ">
                passwd = #{passwd},
            </if>
            <if test=" userName != null and userName != '' ">
                user_name = #{userName},
            </if>
            <if test=" headUrl != null and headUrl != '' ">
                head_url = #{headUrl},
            </if>
            <if test=" email != null and email != '' ">
                email = #{email},
            </if>
            <if test=" sex != 0 ">
                sex = #{sex},
            </if>
            <if test=" school != null and school != ''">
                school = #{school},
            </if>
            <if test=" specialty != null and specialty != ''">
                specialty = #{specialty},
            </if>
            <if test=" startTime != null and startTime != ''">
                start_time = #{startTime},
            </if>
            <if test=" endTime != null and endTime != ''">
                end_time = #{endTime},
            </if>
            <if test=" workTime != 0 ">
                work_time = #{workTime},
            </if>
            <if test=" jobType != 0 ">
                job_type = #{jobType},
            </if>
            <if test=" presentCity != null and presentCity != ''">
                present_city = #{presentCity},
            </if>
            <if test=" expectedCity != null and expectedCity != ''">
                expected_city = #{expectedCity},
            </if>
            <if test=" industryLabel != 0 ">
                industry_label = #{industryLabel},
            </if>
            <if test=" stationLabel != null and stationLabel != '' ">
                station_label = #{stationLabel},
            </if>
            <if test=" expectSalary != null and expectSalary != '' ">
                expect_salary = #{expectSalary},
            </if>
            <if test=" token != null and token != '' ">
                token = #{token},
            </if>
            <if test=" age != 0 ">
                age = #{age},
            </if>
            <if test=" highestEducation != 0 ">
                highest_education = #{highestEducation},
            </if>
        </set>
        WHERE user_id = #{userId}
    </update>
</mapper>